body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    margin: 0;
    background-color: #f0f0f0;
    gap: 20px;
}

.container {
    display: flex;
    gap: 40px;
}

.candidato {
    text-align: center;
    border: 1px solid #292828;
    padding: 20px;
    padding-top: 70px;
    border-radius: 80px;
    background-color: #fff;
    width: 250px;
}

.candidato img {
    width: 180px;
    height: 180px;
    border-radius: 30%;
    object-fit: cover;
    margin-bottom: 10px;
}

.vencedor-container {
    text-align: center;
    padding: 20px;
}

.vencedor-nome {
    font-size: 2em;
    font-weight: bold;
    color: green;
}

button {
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #0f7e09;
    color: white;
    margin-left: 35%;
    margin-right: 30%;
    margin-bottom: 5%;
}

.porcentagens-container {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    text-align: center;
    color: #ff3700;
}
