* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    padding: 30px;
    width: 100%;
    height: 100vh;
    border: 2px solid #e04242;
}

h1 {
    text-align: left;
    margin-bottom: 20px;
}

p, label{
    margin-bottom: 10px;
    font-size: 18px;
}

span {
    font-weight: bold;
}

div {
    font-size: 18px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    margin-top: 100px;
}

button {
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    background-color: #7f8080;
    color: white;
    border: none;
    border-radius: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
